body {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}
h1 {
    margin-top: 0px;
}
button {
    font-family: monospace;
    color: black;
    flex-grow: 1;
    background-color: white;
    border: none;
    height: 100%;
    height: 24px;
}
button:hover {
    filter:brightness(90%);
}
.Underline {
    border-bottom: black solid 2px;
}

.pokeCard:hover {
    border: black solid 1px;
    filter: brightness(115%);
}
.pokeCard {
    box-sizing: border-box;
    cursor: pointer;
    border: solid 1px #0000;
    transition: border 0.2s;
    border-bottom: #00000075 solid 1px;
    border-radius: 4px;
    width: 176px;
    height: 176px;
    margin: 10px;
    text-align: center;
    position: relative;
}
.pokeCard img {
    min-height: 128px;
    min-width: 128px;
    image-rendering: pixelated !important;
    image-rendering: crisp-edges;
}
.pokeCard p {
    text-transform: capitalize;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}


#PanelContainer {
    display: flex;
    margin-top: 8px;
    width: 100vw;
    height:calc(100vh - 16px);
}
#ListContainer {
    flex-grow: 1;
    margin: 0px 8px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    align-content: flex-start;
}

#SearchContainer {
    flex-shrink: 0;
    width: calc(330px - 16px);
    margin-right: 8px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 16px;
    border: 2px gray solid;
    overflow: auto;
}

#SearchBar {
    font-size: 18px;
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
}
#SortByContainer {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    border: solid black 1px;
    border-radius: 4px;
    padding: 0px 0px;
    background-color: white;
}
#SortByContainer button {
    border-right: 1px black solid;
}
#SortByContainer button:last-child {
    border-right: none;
}
#SortActive {
    background-color: lightgreen !important;
}

/*type grid reset button color hack, this is the Fairy type color*/
#TypeGridContainer + .resetButton {
    border-top: 1px rgb(244, 0, 232) solid;
}
#TypeGridContainer {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border: solid black 1px;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    padding: 0px 0px;
    background-color: white;
}
#TypeGridContainer input {
    display: none;
}
#TypeGridContainer input + label{
    color: black;
    border-left: solid 0px;
    user-select: none;
    font-size: 14px;
    flex-grow: 1;
    padding: 6px 4px;
    transition: all 0.25s;
    text-align: center;
    width: 25%;
}
#TypeGridContainer input + label:hover{
    filter: brightness(135%);
}
#TypeGridContainer input:checked + label {
    padding-right: 0px;
    border-left: solid 4px rgb(0, 0, 0);
    font-weight: bold;
}
/* Type colors */
#water + label { background-color: rgb(60, 114, 232);}
#normal + label { background-color: rgb(201, 206, 237);}
#flying + label { background-color: rgb(167, 198, 229);}
#grass + label { background-color: rgb(16, 130, 39);}
#psychic + label { background-color: rgb(212, 71, 255);}
#bug + label { background-color: rgb(119, 244, 117);}
#fire + label { background-color: rgb(255, 71, 5);}
#poison + label { background-color: rgb(201, 0, 237);}
#ground + label { background-color: rgb(183, 152, 49);}
#rock + label { background-color: rgb(163, 141, 70);}
#fighting + label { background-color: rgb(255, 95, 50);}
#dark + label { background-color: rgb(132, 132, 145);}
#steel + label { background-color: rgb(160, 160, 188);}
#electric + label { background-color: rgb(237, 237, 35);}
#dragon + label { background-color: rgb(152, 74, 201);}
#fairy + label { background-color: rgb(244, 0, 232);}
#ghost + label { background-color: rgb(146, 109, 168);}
#ice + label { background-color: rgb(32, 234, 234);}

.resetButton {
    position: relative;
    top: -1px;
    border: solid black 1px;
    border-top: none;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#ColorContainer {
    border: solid black 1px;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
    display: flex;
    height: 40px;
    background-color: white;
}
#ColorContainer input {
    transition: all 0.25s;
    border-bottom: black solid 0px;
    display: block;
    margin: 0px;
    margin-bottom: 8px;
    box-sizing: content-box;
    flex-grow: 1;
    height: 32px;
    max-width: 32px;
    -webkit-appearance: none;
}
#ColorContainer input:hover {
    filter: opacity(50%);
}
#ColorContainer input:checked {
    margin-bottom: 0px;
    border-bottom: black solid 8px;
}

/* no color */
#anyColor {
    background: rgb(235,235,235);
    background: linear-gradient(135deg, rgba(235,235,235,1) 0%, rgba(235,235,235,1) 47%, rgba(0,0,0,1) 47%, rgba(0,0,0,1) 53%, rgba(235,235,235,1) 53%, rgba(235,235,235,1) 100%);
}
/* Color colors */
#blue { background-color: blue; }
#yellow { background-color: yellow; }
#green { background-color: green; }
#red {background-color: red; }
#black { background-color: black; }
#brown { background-color: brown; }
#purple { background-color: purple; }
#gray { background-color: gray; }
#white { background-color: white; }
#pink { background-color: pink; }

#BodyTypeContainer {
    border: solid black 1px;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    background-color: white;
}
#BodyTypeContainer input {
    display: none;
    margin: 0px;
    padding: 0px;
}
#BodyTypeContainer input + label img {
    pointer-events: none;
    width: calc(100% - 4px);
    margin: 0px 2px;
}
#BodyTypeContainer input + label {
    transition: all 0.25s;
    border-bottom: black solid 0px;
    padding-bottom: 4px;
    display: block;
    box-sizing: border-box;
    flex-grow: 0;
    width: calc(100% / 7);
    -webkit-appearance: none;
}

#BodyTypeContainer input:checked + label {
    padding-bottom: 0px;
    border-bottom: black solid 4px;
}
/*body types*/
#anyType {
    background: rgb(235,235,235);
    background: linear-gradient(135deg, rgba(235,235,235,1) 0%, rgba(235,235,235,1) 47%, rgba(0,0,0,1) 47%, rgba(0,0,0,1) 53%, rgba(235,235,235,1) 53%, rgba(235,235,235,1) 100%);
}


#popupContainer {
    z-index: 999999;
    background-color: white;
    border: black solid 2px;
    border-radius: 6px;
    position: absolute;
    left: 64px;
    top: 64px;
    height: calc(100vh - 128px);
    width: calc(100vw - 128px);
    margin: 0px;
    transition: transform 0.5s cubic-bezier(0, 1, 0, 1);
    transform: scale(1);
}
#PokemonPanelContainer{
    position: relative;
    display: flex;
    margin: 0px;
    overflow: auto;
    height: 100%;
}
#PokemonPanelContainer h2 {
    margin: 0px;
    padding: 8px;
}
#PokemonPanelContainer div {
    border-bottom: solid black 2px;
}
#PokemonPanelContainer > div {
    border-bottom: none;
}
#InfoPanel {
    max-width: 320px;
}
#NameContainer{
    padding-top: 1px;
    text-align: center;
}
#TypeContainer{
    padding-top: 1px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
#InfoContainer{
    padding-top: 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content:flex-start;
}
#InfoContainer > p {
    margin: 0px;
    padding: 4px 16px;
}
#CryContainer{
    padding-top: 1px;
}
#CryContainer audio {
    width: 100%;
}
#StatPanel{
    width: 100%;
}
#statTable{
    width: 100%;
    max-height: 350px;
    height: 100%;
    padding: 32px;
}
#statTable tr {
    height: calc(100% / 6);
}
tr td:nth-child(1){
    width: 30%;
    border-right: solid black 2px;
}
tr td:nth-child(2) {
    padding-left: 6px;
}
#InfoPanel {
    border-right: solid black 2px;
}
#popupContainer > button {
    box-sizing: border-box;
    position: absolute;
}
#closeInfoButton {
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    top: -32px;
    right: -32px;
    border-radius: 32px;
    border: black solid 2px;
    font-size: xx-large;
}
#nextInfoButton {
    right: -16px;
    width: 16px;
    height: 64px;
    top: calc(50% - 32px);
    border: black solid 1px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: none;
}
#previousInfoButton {
    left: -16px;
    width: 16px;
    height: 64px;
    top: calc(50% - 32px);
    border: black solid 1px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: none;
}
